################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BFAuctions/bin/Debug/net5.0
/.vs/BFAuctionsGit/FileContentIndex
/BFAuctions/obj/Debug/net5.0/ref
/BFAuctions/obj/Debug/net5.0/refint
/BFAuctions/obj/Release/net5.0
